<h1 class="text-3xl">Sobrer la aplicación</h1>
<hr class="my-2" />
<section>
  <p class="mb-4">
    Nulla aliquip quis nostrud et laboris occaecat. Ad ad ex ullamco consequat
    irure. Mollit adipisicing aliquip aute aliqua esse adipisicing reprehenderit
    ut eiusmod et. Nisi ipsum dolor do ex non enim enim amet minim labore Lorem.
    Eu sint fugiat aliqua ut et ipsum esse. Enim velit ipsum est aliquip
    consequat sunt mollit nulla qui. Enim occaecat velit aute sint mollit ex
    veniam pariatur ex et fugiat qui.
  </p>
</section>
